.saludo {
    margin-top: 3rem;
    text-align: center;
}

.contenedorProductos {
    margin: 50px 50px;
}

 .listaProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-content: center;
    margin-top: 3rem;
}



