.saludo {
    margin-top: 3rem;
    text-align: center;
}

.contenedorProductos {
    margin: 50px 10px;
}

.listaProductos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    justify-content: center;
    margin-top: 3rem;
}



