.divContenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 12px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 1rem 0;
}

p {
    text-align: center;
    margin: 0;
    
}
.botonDetail {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
    

button {
    background-color: rgb(216, 143, 154);
    border: 0;
    padding: 5px 10px;
    border-radius: 8px;
}



